.pinDetailed{
    width: 100%;
    display: flex;
    justify-content: center;
}

.pinDetailedCenterBoard{
    display: flex;
    margin-bottom: 32px;
    border-radius: 32px;
    width: 1016px;;
    min-height: 529px;
    max-width: 1016px;
    box-sizing: border-box;
    position: relative;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 20px 0px;
}

.pinDetailedAsideLeft{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;

}

.pinDetailedAsideRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding-right: 32px;
    padding-left: 32px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;

}

.pinDetailedImage{ 
    border-radius: 32px;
    max-width: 100%;
}

.pinDetailedHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    height: 92px;
}

.pinDetailedUrl{
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    max-width: 508px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 120%;
    margin: 0;
    height: 60px;
    cursor: pointer;
    font-weight: 700;
    background-color: lightgray;
    padding: 0px 20px 0px 20px;
    border-radius: 30px;
    color:black;
    transition: 0.5s;
}

.pinDetailedUrl:hover{
    background-color: rgb(176, 176, 176);
}


.pinDetailedHeaderRightSide{
    margin-left: 12px;
    width: 236px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pinDetailedLikeDislikeButton{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: flex-end;

}

.pinDetailedSaveButton{
    border-radius: 24px;
    border: 0px;
    background-color: darkred;
    color: white;
    font-size: 100%;
    margin: 0;
    vertical-align: middle;
    height: 48px;
    width: 140px;
    cursor: pointer;
    font-weight: 700;
}

.pinDetailedSavedButton{
    border-radius: 24px;
    border: 0px;
    background-color: rgb(96, 35, 35);
    color: white;
    font-size: 100%;
    margin: 0;
    vertical-align: middle;
    height: 48px;
    width: 140px;
    cursor: pointer;
    font-weight: 700;
}

.pinDetailedSaveButton:hover{
    background-color: rgb(96, 35, 35);
}

.pinDetailedSavedButton:hover{
    background-color: darkred;
}

.pinDetailedLikeButton{
    background-color: white;
    border: 0px;
    font-size: 200%;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 50%;
    color: red;
    font-size: 40px;
    width: 56px;
}

.pinDetailedLikedButton{
    border: 0px;
    font-size: 200%;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;
    background-color: rgb(172, 1, 1);
    border-radius: 50%;
    color: red;
    font-size: 40px;
    width: 50px;
    width: 56px
}

.pinDetailedLikedButton:hover{
    background-color: darkred;
}

.pinDetailedLikeButton:hover{
    background-color: lightgray;
}

.pinDetailedDislikeButton{
    background-color: white;
    border: 0px;
    font-size: 200%;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 50%;
    width: 56px;
}

.pinDetailedDislikedButton{
    background-color: white;
    border: 0px;
    font-size: 200%;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 50%;
    background-color: rgb(172, 1, 1);
    width: 56px;
}

.pinDetailedDislikedButton{
    background-color: darkRed
}

.pinDetailedDislikeButton:hover{
    background-color: lightgray;
}

.pinDetailedTitle{
    margin-top: 16px;
    font-weight: 700;
    text-align: left;
    word-wrap: break-word;
    font-size: 36px;
    width: 100%;
    height:fit-content;
    min-height: 150px;
    margin-bottom: 16px;
}

.pinDetailedAuthor{
    margin-top: 16px;
    display: flex;
    align-items: center;
    height: 48px;
    width: 100%;
    justify-content: space-between;
}

.pinDetailedAuthorAvatar{
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.pinDetailedAuthorLeftPart{
    display: flex;
}

.pinDetailedAuthorUsernameAndFollowers{
    padding-left: 4px;
}

.pinDetailedAuthorUsername{
    max-width: 270px;
    font-weight: 700;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
}

.pinDetailedAuthorFollowers{
    font-weight: 400;
    text-align: left;
    font-size: 14px;
}

.pinDetailedFollowButton{
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 24px;
    width: 81px;
    border: 0px;
    transition: 0.5s;
}

.pinDetailedFollowButton:hover{
    background-color: #d0d0d0;
}

.pinDetailedLikesSection{
    width: 100%;
    height: 19px;
    padding-bottom: 24px;
    padding-top: 24px;
}

.pinDetailedLikes{
    padding-left: 4px;
    padding-right: 12px;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3,Hiragino Kaku Gothic Pro,ãƒ¡ã‚¤ãƒªã‚ª,Meiryo,ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
}

.pinDetailedDisikes{
    padding-left: 12px;
    padding-right: 4px;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3,Hiragino Kaku Gothic Pro,ãƒ¡ã‚¤ãƒªã‚ª,Meiryo,ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
}

.pinDetailedCommentsSection{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3,Hiragino Kaku Gothic Pro,ãƒ¡ã‚¤ãƒªã‚ª,Meiryo,ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    margin-top: 40px;
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    height: 40px;
    align-items: center;
}

.pinDetailedCommentsNumber{
    margin-right: 4px;
    font-weight: 700;
    font-size: 20px;
}

.pinDetailedCommentsButton{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pinDetailedCommentsButton {
    font-size: 35px;
    font-weight: 700;
    font-family:cursive;
    padding-bottom: 9px;
}

.pinDetailedCommentsButton:hover{
    background-color: #d0d0d0;
}