header {
    display: flex;
    height: 72px;
    padding: 4px 16px 30px;
    align-items: center;
}

header .header_logo,
header .header_notifications,
header .header_user {
    height: 40px;
}

header .header_notifications,
header .header_user {
    padding: 10px;
}

header .header_notifications {
    font-size: 10px;
}

header img {
    width: auto;
    max-height: 100%;
}

header input {
    flex: 1;
    height: 48px;
    border-radius: 8px;
    background-color: lightgrey;
    border: none;
    border-radius: 26px;
    padding-left: 10px;
    margin: 0px 16px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

main .pin {
    position: relative;
    /* TODO: added position relative */
    width: 100%;
    border-radius: 12px;
}

main .pin img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}
