.logo {
    width: 10%;
}

.registerForm {
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 32px 0px;
    text-align: center;
    width: 400px;
    margin: auto;
    box-shadow: rgb(0 0 0 / 40%) 0px 1px 20px 0px;
}

.registerButton {
    background-color: darkred;
    border: 0;
    color: white;
    border-radius: 30px;
    font-size: 15px;
    font-family: "Segoe UI", "Fira Sans", "Droid Sans", "Helvetica Neue";
    padding: 12px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.registerButton:hover{
    background-color: rgb(96, 35, 35);
}

.form {
    display: flex;
    align-self: center;
    flex-direction: column;
    border-radius: 0px;
    font-size: 15px;
    font-family: "Segoe UI", "Fira Sans", "Droid Sans", "Helvetica Neue";
    border-radius: 60px;
    padding: 8px;
}

.input {
    display: flex;
    align-self: center;
    width: 50%;
    border-radius: 30px;
    padding: 10px;
    border-color: lightgray;
}

.welcome,
.pleaseLogin {
    font-size: 18px;
    font-weight: 600;
    font-family: "Segoe UI", "Fira Sans", "Droid Sans", "Helvetica Neue";
}

.closeButton {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: none;
    right: 10px;
    top: 5px;
    cursor: pointer;
    font-size: 20px;
    padding: 4px;
    font-weight: 600;
    opacity: 50%;
    font-family: cursive;
}

.closeButton:hover {
    opacity: 100%;
}

.linkLogin{
    text-decoration: none;
    cursor: pointer;
}

.linkLogin:hover{
    text-decoration: underline;
}